@import "https://www.sardemff7.net/style.css";
:root
{
    --main-colour-plain: rgb(60, 169, 222);
    --main-colour-half: rgba(60, 169, 222, 0.5);
    --main-colour-transparent: rgba(60, 169, 222, 0);
}
